.region_c1{
    background: url('../image/cloud_back.png') no-repeat;
    background-size: cover;
    background-position: center;

    color: rgba(255,255,255,.9);
}
.location_center{
    text-align: center!important;
}
.region_c2{
    text-align: center;
}
.share_pic{
    width: 100%;
    height: 95px;
    background: url('../image/share.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.location_c1{
    margin-left: 129px;
}
.location_c2{
    margin-left: 80px;
}
.c_procedure1{
    width: 100%;
    height: 181px;
    background: url('../image/c_procedure1.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.c_procedure2{
    width: 100%;
    height: 181px;
    background: url('../image/c_procedure2.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.c_procedure3{
    width: 100%;
    height: 181px;
    background: url('../image/c_procedure3.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
}
.c_procedure4{
    width: 100%;
    height: 181px;
    background: url('../image/c_procedure4.png') no-repeat;
    background-size: 100% 100%;
    background-position: center;
}