.region_i1{
    background: url('../image/introduction.png') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
}
.region_i3{
    background-color: #424EAF;
    height: 210px;
}
.logo{
    margin: 0 auto;
    /* text-align: center; */
    width: 120px;
    overflow: hidden;
}
