.welcome_region{
    background: url('../image/partner.png') no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(255,255,255,.8);
}
.mask {
    margin-top: 15px;
    overflow: hidden;
    height: 20px;
}
.mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px/12px;
    box-shadow: 0 0 8px #FFFFFF;
    opacity: .85;
}
.to_join{
    color: #FFFFFF;
    border: 1px solid rgba(241,248,255,.5);
    background-color: rgba(95,105,216,.5);
}
.region2{
    min-height: 975px;
}
.region3{
    /*height: 575px;*/
    background: url('../image/join_back.png') no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgba(255,255,255,.8);
}
.location1{
    margin-left: 150px;
}
.location2{
    margin-left: 72px;
}
.supplier{
    width: 100%;
    height: 48px;
    background: url('../image/supplier.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.effective{
    width: 100%;
    height: 56px;
    background: url('../image/efficent_group.png') no-repeat;
    background-size: cover;
    background-position: center;
}
.region3 p{
    color: rgba(255,255,255,.8);
    text-align: left;
}
.region3 h2{
    font-size: 30px;
    font-family: "Songti SC";
}
.spindle{
    width: 100%;
    height: 1px;
    background: url('../image/spindle.png') no-repeat;
    background-size: cover;
    background-position: center;
}