<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/mobile_forward.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    {% block title %}
        <title>{{ SITE_NAME }}{{ TITLE_CONNECTOR }}让跨境知识产权保护更简单</title>
    {% endblock %}
</head>
<body>
    <div class="header">
        <svg class="icon " aria-hidden="true">
            <use xlink:href="#icon-HCHB"></use>
        </svg>
        <div class="nav_btn"></div>
    </div>
</body>
</html>