{% extends 'base.html' %}
{% block header-css %}
    <link rel="stylesheet" href="/static/css/mobile_forward.css">
{% endblock %}

{% block content %}

<div class="first_region region ">

    <div class="logo">
        <svg class="icon hc_logo " aria-hidden="true">
        <use xlink:href="#icon-H"></use>
    </svg>
    </div>
    <div class="text">
        <h1>你的知识产权好伙伴</h1>
        <p>丰富、可靠的全球知识产权服务合作平台</p>
    </div>
    <div class="btn_area">
        <a href="/mobile_reg">
            <div class="btn to_register">免费注册</div>
        </a>
        <a href="/mobile_pesDemo">
            <div class="btn to_show">预约演示</div>
        </a>
    </div>
</div>
<div class="partner_region region">
    <div class="region_title">
        <h1>伙伴计划</h1>
        <p class="common_font">十年深耕、专注合作,</p>
        <p class="common_font">值得信赖的涉外知识产权合作平台</p>
    </div>
    <div class="blank"></div>
    <div class="item free_look">
        <div class="item_pic free_look_pic"></div>
        <h2 class="free_look_h2">免费查看</h2>
        <p class="common_font">免费查看万条</p>
        <p class="common_font">涉外知识产权资源</p>
    </div>
    <div class="item globe_service">
        <div class="item_pic globe_service_pic"></div>
        <h2 class="globe_service_h2">全球服务</h2>
        <p class="common_font">全球500+IP服务</p>
        <p class="common_font">供应商服务支持</p>
    </div>
    <div class="clear "></div>
    <div class="blank"></div>
    <div class="item expert">
        <div class="item_pic expert_pic"></div>
        <h2 class="expert_h2">专业顾问</h2>
        <p class="common_font">教你懂业务</p>
        <p class="common_font">帮你做业务</p>
    </div>
    <div class="item platform">
        <div class="item_pic platform_pic"></div>
        <h2 class="platform_h2">平台担保</h2>
        <p class="common_font">专业可靠的</p>
        <p class="common_font">中间平台担保</p>
    </div>
    <div class="clear"></div>
    <a href="/mobile_partner">
        <div class="btn to_huoban">了解伙伴计划</div>
    </a>

</div>
<div class="region cloud_region">
    <div class="region_title">
        <h1>云端系统</h1>
        <p class="common_font">专为知识产权从业者设计的涉外云端服务系统</p>
    </div>
    <div class="blank"></div>
    <div class="cloud_content">
        <div class="cloud_pic1"></div>
        <div class="cloud_pic2"></div>
        <div class="cloud_pic3"></div>
        <div class="cloud_pic4"></div>
        <div class="cloud_text1">
            <div class="block_left">捷</div>
            <div class="block_right">
                <p class="common_font">需求自由定制</p>
                <p class="common_font">云端即刻报价</p>
            </div>
        </div>
        <div class="cloud_text2">
            <div class="block_left">智</div>
            <div class="block_right">
                <p class="common_font">一键出具方案</p>
                <p class="common_font">智能节省人工</p>
            </div>
        </div>
        <div class="cloud_text3">
            <div class="time_cloud">时</div>
            <div >
                <p class="common_font">一键出具方案</p>
                <p class="common_font">智能节省人工</p>
            </div>
        </div>
        <div class="cloud_text4">
            <div class="block_left">专</div>
            <div class="block_right">
                <p class="common_font">一键出具方案</p>
                <p class="common_font">智能节省人工</p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <a href="/mobile_cloud %}">
        <div class="btn to_cloud">了解云端系统</div>
    </a>

</div>
<div class="region join_region">
    <div class="head_text">
        <h1>加入伙伴计划</h1>
        <div class="blank_quarter"></div>
        <p>捷、智、时、专，感受来自互联网时代的改变</p>
    </div>
    <div class="btn_area">
       <a href="/mobile_reg">
            <div class="btn to_register ">免费注册</div>
        </a>
        <a href="/mobile_pesDemo">
            <div class="btn to_show">预约演示</div>
        </a>
    </div>
</div>
{% endblock %}
{% block footer-script %}

{% endblock %}