{% extends 'base.html' %}
{% block header-css %}
    <link rel="stylesheet" href="/static/css/mobile_forward.css">
    <link rel="stylesheet" href="/static/css/ni-mobile.css">
{% endblock %}
{% block content %}
	<div class="mobile_honerBg"></div>
	<div class="region">
		<div class="mobile_honer_item">
			<div class="img">
				<img src="/static/image/honer_img.png" alt="">
			</div>
			<p>中华商标协会<br>常任理事单位</p>
		</div>
		<div class="mobile_honer_item">
			<div class="img">
				<img src="/static/image/honer_img1.png" alt="">
			</div>
			<p>优秀涉外知识<br>产权机构</p>
		</div>
		<div class="mobile_honer_item">
			<div class="img">
				<img src="/static/image/honer_img2.png" alt="">
			</div>
			<p>中国国际商标<br>品牌节银奖</p>
		</div>
		<div class="mobile_honer_item">
			<div class="img">
				<img src="/static/image/honer_img3.png" alt="">
			</div>
			<p>专利代理人<br>协会会员</p>
		</div>
		<div class="mobile_honer_item">
			<div class="img">
				<img src="/static/image/honer_img4.png" alt="">
			</div>
			<p>全国优秀商标<br>代理机构</p>
		</div>
		<div class="mobile_honer_item">
			<div class="img">
				<img src="/static/image/honer_img5.png" alt="">
			</div>
			<p>国际商标协会<br>会员</p>
		</div>
		<div class="mobile_honer_item">
			<div class="img">
				<img src="/static/image/honer_img6.png" alt="">
			</div>
			<p>科技项目指定<br>服务商</p>
		</div>
	</div>
{% endblock %}
{% block footer-script %}

{% endblock %}