<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/ni-mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>汇诚伙伴-成功注册</title>
</head>
<body>
<div class="mobileReg_bg ">
    <svg class="icon mobileReg_Logo" aria-hidden="true">
        <use xlink:href="#icon-HCHB"></use>
    </svg>
    <div class="welcomeImgBox">
        <img src="/static/image/welcomeImg.png" alt="">
    </div>
    <h1 class="welcomeTitle">欢迎您加入汇诚伙伴</h1>
    <p class="welcomeText">汇诚顾问会在 1 个工作日内联系您，为您开通账户！<br> 请保持联系方式畅通！</p>
    <a href="/index"><button class="backIndex">返回首页</button></a>
</div>

<script type="text/javascript" src="//at.alicdn.com/t/font_346631_6kf7k1tn0ch7u8fr.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/ni-mobile.js"></script>



</body>
</html>