{% extends 'base.html' %}
{% block header-css %}
    <link rel="stylesheet" href="/static/css/mobile_partner.css">
{% endblock %}

{% block content %}

<div class="welcome_region region ">
    <div class="black"></div>

    <div class="head_text">
        <h1>欢迎加入伙伴计划</h1>
        <div class="mask"></div>
        <p class="common_font">汇诚专注全球知识产权服务十多年，精选500多家世界各地知识产权服务供应商，为全球商业服务机构提供知识产权服务资源。</p>
        <div class="mask"></div>
    </div>
    <div class="btn to_join">加入伙伴计划</div>
</div>
<div class="region region2">
    <div class="item free_look">
        <div class="item_pic free_look_pic"></div>
        <h2 class="free_look_h2">免费查看</h2>
        <p class="common_font">免费查看万条</p>
        <p class="common_font">涉外知识产权资源</p>
    </div>
    <div class="item globe_service">
        <div class="item_pic globe_service_pic"></div>
        <h2 class="globe_service_h2">全球服务</h2>
        <p class="common_font">全球500+IP服务</p>
        <p class="common_font">供应商服务支持</p>
    </div>
    <div class="clear "></div>
    <div class="black"></div>
    <div class="item expert">
        <div class="item_pic expert_pic"></div>
        <h2 class="expert_h2">专业顾问</h2>
        <p class="common_font">教你懂业务</p>
        <p class="common_font">帮你做业务</p>
    </div>
    <div class="item platform">
        <div class="item_pic platform_pic"></div>
        <h2 class="platform_h2">平台担保</h2>
        <p class="common_font">专业可靠的</p>
        <p class="common_font">中间平台担保</p>
    </div>
</div>

{% endblock %}
{% block footer-script %}

{% endblock %}