<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/ni-mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>汇诚伙伴</title>
</head>
<body>
<div class=" mobilepesDemo_bg">
    <div class="mobile_Content">
         <hr style="width: 90%;margin-top: 20px;border:1px solid #D8D8D8">
   <p class="pesDemo_title" >感谢您关注汇诚伙伴。<br>请留下联系方式，我们会在一个工作日内联系您，介绍并演示产品。</p>
   <div class="pesDemo_inputGroup">
       <label for="contactName">联系人姓名<span>*</span></label>
       <input type="text" id="contactName">
       <label for="contactTel">联系人手机号码<span>*</span></label>
       <input type="text" id="contactTel">
       <label for="contactEmail">联系人邮箱<span>*</span></label>
       <input type="text" id="contactEmail">
       <label for="contactCompany">公司或组织名称<span>*</span></label>
       <input type="text" id="contactCompany">
       <label for="question">希望用汇诚伙伴解决什么问题<span>*</span></label>
       <textarea rows="10" id="question"></textarea>
   </div>
   <hr style="width: 90%;border: 1px dashed #d8d8d8;">
    <button class="pesDemo_btn">提交</button>
    <div class="regError" ></div>
    </div>

</div>

<script type="text/javascript" src="//at.alicdn.com/t/font_346631_6kf7k1tn0ch7u8fr.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/ni-mobile.js"></script>



</body>
</html>