{% extends 'base.html' %}
{% block header-css %}
    <link rel="stylesheet" href="/static/css/mobile_partner.css">
{% endblock %}

{% block content %}

<div class="welcome_region region ">
    <div class="blank"></div>

    <div class="head_text">
        <h1>欢迎加入伙伴计划</h1>
        <div class="blank_half"></div>
        <div class="spindle"></div>
        <div class="blank_quarter"></div>
        <p class="common_font">汇诚专注全球知识产权服务十多年，精选500多家世界各地知识产权服务供应商，为全球商业服务机构提供知识产权服务资源。</p>
        <div class="blank_quarter"></div>
        <div class="spindle"></div>
        <div class="blank"></div>
    </div>
    <a href="/mobile_reg"><div class="btn to_join">加入伙伴计划</div></a>
</div>
<div class="region region2">
    <div class="item free_look">
        <div class="item_pic free_look_pic"></div>
        <h2 class="free_look_h2">免费查看</h2>
        <p class="common_font">免费查看万条</p>
        <p class="common_font">涉外知识产权资源</p>
    </div>
    <div class="item globe_service">
        <div class="item_pic globe_service_pic"></div>
        <h2 class="globe_service_h2">全球服务</h2>
        <p class="common_font">全球500+IP服务</p>
        <p class="common_font">供应商服务支持</p>
    </div>
    <div class="clear "></div>
    <div class="blank"></div>
    <div class="item expert">
        <div class="item_pic expert_pic"></div>
        <h2 class="expert_h2">专业顾问</h2>
        <p class="common_font">教你懂业务</p>
        <p class="common_font">帮你做业务</p>
    </div>
    <div class="item platform">
        <div class="item_pic platform_pic"></div>
        <h2 class="platform_h2">平台担保</h2>
        <p class="common_font">专业可靠的</p>
        <p class="common_font">中间平台担保</p>
    </div>
    <div class="clear"></div>
    <div class="blank"></div>
    <div class="blank_half"></div>
    <div class="with_blue_line">
        <h2>供应商严选</h2>
{#        <div class="blue_line location1"></div>#}
        <div class="blank_half"></div>
        <p class="common_font">汇诚深耕全球知识产权市场，十年精选500多家优质知识产权供应商，服务资源遍布五大洲</p>
    </div>
    <div class="blank_half"></div>
    <div class="supplier"></div>
    <div class="blank"></div>
    <div class="blank_half"></div>
    <div class="with_blue_line">
        <h2>高效专业团队</h2>
{#        <div class="blue_line location2"></div>#}
        <div class="blank_half"></div>
        <p class="common_font">我们的服务团队，在全世界客户与合作伙伴中</p>
        <p class="common_font">赢得了广泛的信任和高度评价, </p>
        <p class="common_font">为您在专利、商标、版权、诉讼等</p>
        <p class="common_font">全方位的知识产权保护中，提供服务支持</p>
    </div>
    <div class="blank_half"></div>
    <div class="effective"></div>
</div>
<div class="region region3">
    <h2>《伙伴计划》</h2>
    <div class="blank_half"></div>
    <p class="common_font">伙伴计划是汇诚从2008年开展的合作计划。汇诚创立于2004年，从2008年开始完成涉外渠道建立，同国内同行开展涉外商标专利合作。迄今为止，国内1000+同行选择我们，共同服务了上万家企业数万件的国外商标注册和专利申请，积攒了大量的国际商标代理的专业知识以及实战经验。</p>
    <div class="blank_half"></div>
    <p class="common_font">汇诚通过信息化、协作化、产品标准化与合作伙伴共同实现国内外市场的拓展。国际商标专利业务涉及200+国家、地区、组织的程序，不同语言，不同的申请文件，复杂多变的本国规定。汇诚10多年的处理经验，逐渐完成了产品标准化探索，目前我们的内部流程以及职能建设完善，可以按照不同类型给客户提供标准的解决方案。</p>
    <div class="blank_half"></div>
    <p class="common_font">欢迎加入汇诚伙伴，与您共建知识产权合作共享价值链，为您提供知识产权解决方案、咨询申请和在线工具，希望在今后的合作中，携手同行，合作共赢。</p>
    <div class="blank"></div>
    <a href="/mobile_reg"><div class="btn to_show">加入伙伴计划</div></a>
</div>

{% endblock %}
{% block footer-script %}

{% endblock %}