<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/ni-mobile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>汇诚伙伴</title>
</head>
<body>
<div class="mobileReg_bg ">
    <svg class="icon mobileReg_Logo" aria-hidden="true">
        <use xlink:href="#icon-HCHB"></use>
    </svg>
    <div class="mobile_inputGroup">
        <div class="mobile_RegContent">
            <div class="input_box">
            <span>*</span>
            <input type="text" name='username' placeholder="用户名" autocomplete="off">
        </div>
         <div class="input_box">
            <span>*</span>
            <input type="password" name='password' placeholder="密码" autocomplete="off">
        </div>
         <div class="input_box">
            <span>*</span>
            <input type="tel" name='mobile' placeholder="手机" autocomplete="off">
        </div>
         <div class="input_box">
            <span>*</span>
            <input type="email" name='email' placeholder="邮箱" autocomplete="off">
        </div>
         <div class="input_box">
            <span>*</span>
            <input type="text" name='name' placeholder="姓名" autocomplete="off">
        </div>
         <div class="input_box">
            <input type="text" name='company' placeholder="机构名称" autocomplete="off">
        </div>
        </div>

    </div>
    <button class="reg_btn">注册</button>

    <div class="regError" ></div>
</div>

<script type="text/javascript" src="//at.alicdn.com/t/font_346631_6kf7k1tn0ch7u8fr.js"></script>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/ni-mobile.js"></script>



</body>
</html>