{% extends 'base.html' %}
{% block header-css %}
    <link rel="stylesheet" href="/static/css/mobile_cloud.css">
{% endblock %}

{% block content %}

<div class="region_c1 region ">
    <div class="blank"></div>

    <div class="head_text">
        <h1>云端服务系统</h1>
        <div class="blank_quarter"></div>
        <p class="common_font location_center">专为知识产权从业者设计</p>

    </div>
    <div class="blank"></div>
    <a href="/mobile_reg"><div class="btn to_show">加入伙伴计划</div></a>
</div>
<div class="region_c2 region">
    <div class="with_blue_line">
        <h2>开启合作共享新时代</h2>
        <div class="blue_line location_c1"></div>
        <div class="blank_half"></div>
        <p class="common_font">知识产权资源，知识产权解决方案,</p>
        <p class="common_font">知识产权顾问，全方位在线服务 </p>
    </div>
    <div class="blank_half"></div>
    <div class="share_pic"></div>
    <div class="blank"></div>
    <div class="blank_half"></div>
    <div class="with_blue_line">
        <h2>涉外云系统</h2>
        <div class="blue_line location_c2"></div>
        <div class="blank_half"></div>
        <p class="common_font">万条知识产权资源免费查看</p>
        <p class="common_font">需求自由定制云端即刻报价</p>
        <p class="common_font">一键出具方案智能节省人工</p>
    </div>
    <div class="blank_half"></div>
    <div class="c_procedure1"></div>
    <div class="blank_percent8"></div>
    <p class="common_font">选择服务与国家</p>
    <div class="blank_half"></div>
    <div class="c_procedure2"></div>
    <div class="blank_percent8"></div>
    <p class="common_font">报价单设置</p>
    <div class="blank_half"></div>
    <div class="c_procedure3"></div>
    <div class="blank_percent8"></div>
    <p class="common_font">方案设置</p>
    <div class="blank_half"></div>
    <div class="c_procedure4"></div>
    <div class="blank_percent8"></div>
    <p class="common_font">方案预览</p>
</div>
<div class="region join_region">
    <div class="head_text">
        <h1>加入伙伴计划</h1>
        <div class="blank_quarter"></div>
        <p>捷、智、时、专，感受来自互联网时代的改变</p>
    </div>
    <div class="btn_area">
        <a href="/mobile_reg">
            <div class="btn to_register">免费注册</div>
        </a>
        <a href="/mobile_pesDemo">
            <div class="btn to_show">预约演示</div>
        </a>
    </div>
</div>

{% endblock %}
{% block footer-script %}

{% endblock %}