{% extends 'base.html' %}
{% block header-css %}
    <link rel="stylesheet" href="/static/css/mobile_introduction.css">
{% endblock %}

{% block content %}

<div class="region_i1 region  ">
</div>
<div class="region_i2 region">
    <h2 class="common_head_font">汇诚简介</h2>
    <div class="blank_half"></div>
    <p class="common_font">汇诚成立于2004年，是一家领先的世界IP服务提供商，聚集数百位专业人员，包括专利顾问、商标顾问、律师、工程师、研发团队，他们拥有丰富的从业经验。</p>
    <div class="blank_half"></div>
    <p class="common_font">公司目前已开拓200个国家和地区知识产权保护服务，拥有上万条知识产权资源，有效地满足您的全球知识产权业务需求。</p>
    <div class="blank_half"></div>
    <p class="common_font">汇诚自创立以来，始终以“诚信、专业、服务、好学、协作、乐观”作为企业的核心价值观，用心服务客户，致力于成为为客户创造价值的服务机构。</p>
</div>
<div class="region_i3 region">
    <div class="logo">
        <svg class="icon hc_logo " aria-hidden="true">
        <use xlink:href="#icon-H"></use>
    </svg>
    </div>
</div>
<div class="region_i4 region">
    <h2 class="common_head_font">公司使命</h2>
    <div class="blank_half"></div>
    <p class="common_font">为世界企业长期提供知识产权服务！</p>
    <div class="blank_half"></div>
    <p class="common_font">我们认为，中国终将从中国制造转变为中国创造，越来越多的企业正在“走出去”，在世界市场舞台上崭露头脚。</p>
    <div class="blank_half"></div>
    <p class="common_font">过去的这十年，企业对商标、专利的认识和运用已经有了长足的进步，而由于综合因素原因，企业在对外经营上往往会在知识产权保护方面吃亏颇多，为此，汇诚国际认为，未来十年，企业除了注重国内知识产权保护外，还应该将国际知识产权注册纳入整体化保护体系</p>
    <div class="blank_half"></div>
    <p class="common_font">汇诚将一如既往地向企业提供国内、国际知识产权等一整套的品牌和技术保护解决方案，而流程化、专业化的服务将让国际事务更加简单，这是我们的职业使命！</p>
    <div class="blank_half"></div>
    <p class="common_font">在长期执业过程中，我们将进一步研究商标、专利、版权及海外公司等知识产权专业领域，我们相信专业源于专注，我们将基于自己的专业服务，从而长期为世界企业提供专业的知识产权代理机构。 </p>
</div>
{% endblock %}
{% block footer-script %}

{% endblock %}